:root {

	--box_default_design: 0;
	
	/* font palette  */
	/* --font_current: serif; */
  --font_current: "aglet-mono", "oso-serif-variable", Arial, Helvetica, sans-serif, serif;
	/* --font_current: Arial, Helvetica, sans-serif; */
	/* olor palette */
	--color_0: black;
	--color_1: white;

  --color_2: magenta;
	--color_3: yellow;
	--color_4: cyan;
	--color_5: purple;

	/* the app color */
	--color_text_dark: var(--color_5);
	--color_text: var(--color_2);
	--color_text_light: var(--color_3);

	--color_global: var(--color_3);

	--color_line: var(--color_2);

	--color_header: var(--color_3);
	--color_menu_big: var(--color_3);
	--color_menu_small: var(--color_3);

	--color_footer: var(--color_2);

	--color_bg_form: var(--color_2);

	--color_button: var(--color_4);

	--layout_bg: var(--color_3);

	/* the app misc */
	--screen_min: 600px;

	--height_header: 48px;
	--size_header_cell: 30px;
	--height_header_cell: 30px;
	--width_header_cell: 100px;
	--width_header_max: 700px;

	--width_content_max: 800px;
}

body {
  font-family: var(--font_current);
  background: var(--color_global);
	color: var(--color_text_dark);
  margin: 0px;
}


input {
  background: var(--color_bg_form);
	color: var(--color_text_dark);
  box-sizing: border-box;
  padding: 0.3em;
  margin: 0.3em;
}

input[type="text"] {
  width: 25em;
}

input[type="email"] {
  width: 20em;
}

input[type="password"] {
  width: 20em;
}

textarea {
  background: var(--color_bg_form);
	color: var(--color_text_dark);
  margin: 0.3em;
  width: 25em;
  height: 10em;
}

.header {
	background: var(--color_header);
	color:var(--color_text);
}